body {
  background-color: whitesmoke;
  height: 100vh;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 500px;
  padding: auto;
  margin: auto;
}

.btn {
  width: 100px;
  height: 50px;
}